body{
    background-color: rgb(40,40,40)
}

/* Text/Tekst */
.Title{
    color: white;
    text-align: center;
    background-color: rgb(30, 30, 30)
}

ol{
    background-color: rgb(50,50,50);
}

li{
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.logboek{
    font-size: 50px;
}

/* Images/Afbeeldingen */
.picture{
    width: 500;
    height: 410;
    margin-left: 150px;
    margin: auto;
}

.pic2{
    margin: auto;
}

.schets{
    margin: auto;
    height: 410px;
    width: 735px;
}

/* Others/Rest */
.sHolder{
    color: white;
}

.pHolder{
    color: white;
}